<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-2">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div th:object="${cliente}" th:remove="tag">
				<ul th:if="${#fields.hasErrors('*')}" class="alert alert-warning">
					<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
			</div>
			<div class="card-body">
				<form th:action="@{/form}" th:object="${cliente}" method="post"
					class="row g-3" enctype="multipart/form-data">
					<div class="col-md-6">
						<label class="form-label">Nombre</label> <input type="text"
							class="form-control" th:field="*{nombre}"
							th:errorclass="'form-control alert-danger alert'"> <small
							class="form-text alert alert-danger"
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
					</div>

					<div class="col-md-6">
						<label class="form-label">Apellido</label> <input type="text"
							class="form-control" th:field="*{apellido}"
							th:errorclass="'form-control alert-danger alert'"> <small
							class="form-text alert alert-danger"
							th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
					</div>

					<div class="col-md-6">
						<label class="form-label">Email</label> <input type="text"
							class="form-control" th:field="*{email}"
							th:errorclass="'form-control alert-danger alert'"> <small
							class="form-text alert alert-danger"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
					</div>

					<div class="col-md-6 ">
						<label class="form-label">Fecha</label> <input type="date"
							class="form-control" th:field="*{createAt}"
							th:errorclass="'form-control alert-danger alert'"
							placeholder="yyyy/MM/dd"> <small
							class="form-text alert alert-danger"
							th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
					</div>
					
					<div class="col-md-8">
						<label for="file" class="form-label">Foto</label>
						<div class="col-sm-6">
						<input type="file" name="file" class="form-control" />
						</div>
					</div>

					<div class="col-12">
						<button type="submit" class="btn btn-primary">Crear
							cliente</button>
					</div>
				</form>
			</div>
		</div>



	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>